@import 'mixin';

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0; // リセット
}

#container {
  position: relative;
  height: 100vh; // 100vhとすると画面いっぱいの縦幅になる
  // width: 100vw; // 横幅いっぱいに広がるがブロック要素は基本的にいっぱいに人がるので必要なし。inline要素の場合必要あれば記述
  background-color: teal;
}

.animate-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0; // デフォルト時には文字は消えている
  font-size: 2em;

  &.inview {
    opacity: 1; // class inview付与時には文字列が見える

    & .char {
      display: inline-block; // これを指定してないとtranslateが効かないので上から降りてこない(inline要素以外を適用する)
      // & .charで子要素の指定となる
      @include animation(
        $name: kf-animate-chars,
        $duration: 0.5s,
        $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
        $fill-mode: both
      );

      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.04s;
        }
      }
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
