.parent {
  color: blue;
  font-weight: 600;
}

span {
  color: purple;
}

.cls {
  color: orange;
}

#first {
  color: magenta;
}

/* 下から順に優先度が高い */

/* .parentの中に配置されているspan要素 idが優先度高い span指定よりも詳細度が高い わからなくなったら検証ツールで確認してみる */
.parent span {
  color: red;
}

/* 上書きされる */
.parent span {
  color: black;
}
