@use "mq" as *;

// モバイル用のスタイル
h1 {
  color: red;
  background: yellow;

  @include mq(sm) {
    color: blue;
  }

  // mdはデフォルト値なので空白でも良い
  @include mq(md) {
    color: purple;
  }

  @include mq(lg) {
    color: green;
  }

  @include mq(xl) {
    color: orange;
  }
}

// ratinaディスプレイ
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  h1 {
    color: orange;
  }
}
