a {
  color: orange;

  &:visited {
    // 何も記載しないvisitedは紫である。
    color: blue;
  }

  &:hover {
    color: red;
  }

  &:focus {
    // 最後にクリックされた要素につく
    color: green;
  }

  &:active {
    // クリックしたタイミングでpurpleになり、クリックを離すとfocusが残った状態になるのでgreenに変わる
    color: purple;
  }
}

// <strong>タグというspan要素以外が入っていると確認してみればわかるがずれる nth-of-typeにすると正常になる
div {
  & span {
    color: olive;

    &:not(.cls) { // .clsじゃない要素に適用
      // ()の中に入れた条件に一致しないものという意味になる
      color: purple;
    }
  }
}
